:root {
    --violet-doux: #6c63ff;
    --violet-foncé: #534edd;
    --orange-vif: #ffa726;
    --gris-tres-foncé: #333;
    --gris-foncé: #666;
    --gris-très-clair: #f8f8f8;

}   
h1  {
    color: var(--violet-foncé)
}


